<!DOCTYPE html>
<head>
  <body>

<main id="main">
  {% include 'css.html' %}
  {% include 'navbar.html' %}
</main>
    <div id="coin">
<div id="__next">
  <div class="bywovg-1 CdUSd">
    <div class="main-content">
      <div class="bywovg-0 kuGegY">
        <div>
          <br>
          <div class="i9bxs7-3 khIztj"></div>
        </div>
      </div>
      <div style="min-width:300px"></div>
    </div>
    <div class="rz1wuv-1 hRSDhY"></div>
  </div>
</div>
<div>
  <div class="sc-1tdb8mx-0 jZoGbx cmc-header-mobile">
    <div class="sc-17r84up-0 jrJack">
      <div class="container">
        <div class="cmc-global-stats__fade"></div>
        <div class="cmc-global-stats__content">
          <div class="cmc-global-stats__inner-content">
            <span class="sc-2bz68i-0 jbbfeR">Cryptos <!-- -->: <a href="/" class="cmc-link">16,223</a></span> <span class="sc-2bz68i-0 jbbfeR">Exchanges <!-- -->: <a href="/rankings/exchanges/" class="cmc-link">451</a></span> <span class="sc-2bz68i-0 jbbfeR">Market Cap <!-- -->: <a href="/charts/" class="cmc-link">$2,228,513,117,545</a></span> <span class="sc-2bz68i-0 jbbfeR">24h Vol <!-- -->: <a href="/charts/" class="cmc-link">$86,811,968,936</a></span> <span class="sc-2bz68i-0 jbbfeR">Dominance <!-- -->: <a href="/charts/#dominance-percentage" class="cmc-link">BTC <!-- -->: <!-- -->40.4% <!-- -->
             <!-- -->ETH <!-- -->: <!-- -->20.0%</a></span> <span class="sc-2bz68i-0 jbbfeR">ETH Gas <!-- -->: <a>153 <!-- -->
             <!-- -->Gwei</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sc-57oli2-0 comDeo cmc-body-wrapper">
  <div class="grid">
    <div>
      <section display="flex" style="width:100%" class="sc-16r8icm-0 fGXnvU">
        <div class="sc-16r8icm-0 cfOoAm">
         <center><h1 font-size="1,5" color="text" class="sc-1q9q90x-0 cRMcma">Top Stablecoin Tokens by Market Capitalization</h1>
          <div class="sc-16r8icm-0 kjciSH">
            <div class="sc-16r8icm-0 gONavB">
              <p color="neutral6" font-size="1" class="sc-1eb5slv-0 iuYRqM">This page lists the most valuable stablecoins. They are listed by market capitalization with the largest first and then descending in order.</p></center>
            </div>
          </div>
        </div>
        <div id="cmc-slot--leaderboard-top" width="100%" class="sc-16r8icm-0 eWgTNf">

      </section>

      </div>
      <div class="h7vnx2-1 bFzXgL" style="overflow-x:scroll">
        <table class="h7vnx2-2 czTsgW cmc-table">
          <colgroup>
            <col>
            <col style="width:50px;min-width:auto;max-width:auto">
            <col style="width:250px;min-width:auto;max-width:auto">
            <col>
            <col style="width:84px;min-width:auto;max-width:auto">
            <col style="width:84px;min-width:auto;max-width:auto">
            <col style="width:200px;min-width:auto;max-width:auto">
            <col style="width:200px;min-width:auto;max-width:auto">
            <col style="width:200px;min-width:auto;max-width:auto">
            <col>
            <col style="width:50px;min-width:auto;max-width:auto">
          </colgroup>
          <thead>
            <tr>
              <th class="stickyTop"></th>
              <th class="stickyTop" style="text-align:left">
                <div class="s8fs2i-0 bOfkjI">
                  <div class="s8fs2i-1 gbtfIe">
                    <p class="sc-1eb5slv-0 hJMpdk rank-column-title" font-size="0" color="text">#</p>
                  </div>
                </div>
              </th>
              <th class="stickyTop" style="text-align:left">
                <div class="s8fs2i-0 bOfkjI">
                  <div class="s8fs2i-1 gbtfIe">
                    <p class="sc-1eb5slv-0 hJMpdk" font-size="0" color="text">Name</p>
                  </div>
                </div>
              </th>
              <th class="stickyTop">
                <div class="s8fs2i-0 pEXWP">
                  <div class="s8fs2i-1 gbtfIe">
                    <p class="sc-1eb5slv-0 hJMpdk" font-size="0" color="text">Price</p>
                  </div>
                </div>
              </th>
              <th class="stickyTop" style="text-align:right">
                <div>
                  <div class="s8fs2i-0 pEXWP">
                    <div class="s8fs2i-1 gbtfIe">
                      <p class="sc-1eb5slv-0 hJMpdk" font-size="0" color="text">24h %</p>
                    </div>
                  </div>
                </div>
              </th>
              <th class="stickyTop" style="text-align:right">
                <div>
                  <div class="s8fs2i-0 pEXWP">
                    <div class="s8fs2i-1 gbtfIe">
                      <p class="sc-1eb5slv-0 hJMpdk" font-size="0" color="text">7d %</p>
                    </div>
                  </div>
                </div>
              </th>
              <th class="stickyTop" style="text-align:right">
                <div class="s8fs2i-0 pEXWP">
                  <div class="s8fs2i-1 gbtfIe">
                    <p class="sc-1eb5slv-0 hJMpdk" font-size="0" color="text">Market Cap</p>
                  </div>
                  <div class="sbsk6s-2 cGlIZe">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="16" width="16" viewbox="0 0 24 24" color="neutral4" class="sc-16r8icm-0 ehPdqz">
                    <path d="M12 2C6.48583 2 2 6.48583 2 12C2 17.5142 6.48583 22 12 22C17.5142 22 22 17.5142 22 12C22 6.48583 17.5142 2 12 2ZM14.215 17.2367C13.6642 17.4533 11.755 18.365 10.655 17.3958C10.3267 17.1075 10.1633 16.7417 10.1633 16.2975C10.1633 15.4658 10.4367 14.7408 10.9292 13C11.0158 12.6708 11.1217 12.2442 11.1217 11.9058C11.1217 11.3217 10.9 11.1667 10.2992 11.1667C10.0058 11.1667 9.68083 11.2708 9.38667 11.3808L9.54917 10.715C10.205 10.4483 11.0283 10.1233 11.7333 10.1233C12.7908 10.1233 13.5692 10.6508 13.5692 11.6542C13.5692 11.9433 13.5192 12.45 13.4142 12.8L12.8058 14.9517C12.68 15.3867 12.4525 16.3458 12.805 16.63C13.1517 16.9108 13.9725 16.7617 14.3775 16.5708L14.215 17.2367ZM13.21 8.66667C12.52 8.66667 11.96 8.10667 11.96 7.41667C11.96 6.72667 12.52 6.16667 13.21 6.16667C13.9 6.16667 14.46 6.72667 14.46 7.41667C14.46 8.10667 13.9 8.66667 13.21 8.66667Z"></path></svg>
                  </div>
                </div>
              </th>
              <th class="stickyTop" style="text-align:right">
                <div class="s8fs2i-0 pEXWP">
                  <div class="s8fs2i-1 gbtfIe">
                    <p class="sc-1eb5slv-0 hJMpdk" font-size="0" color="text">Volume(24h)</p>
                  </div>
                  <div class="sbsk6s-2 cGlIZe">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" height="16" width="16" viewbox="0 0 24 24" color="neutral4" class="sc-16r8icm-0 ehPdqz">
                    <path d="M12 2C6.48583 2 2 6.48583 2 12C2 17.5142 6.48583 22 12 22C17.5142 22 22 17.5142 22 12C22 6.48583 17.5142 2 12 2ZM14.215 17.2367C13.6642 17.4533 11.755 18.365 10.655 17.3958C10.3267 17.1075 10.1633 16.7417 10.1633 16.2975C10.1633 15.4658 10.4367 14.7408 10.9292 13C11.0158 12.6708 11.1217 12.2442 11.1217 11.9058C11.1217 11.3217 10.9 11.1667 10.2992 11.1667C10.0058 11.1667 9.68083 11.2708 9.38667 11.3808L9.54917 10.715C10.205 10.4483 11.0283 10.1233 11.7333 10.1233C12.7908 10.1233 13.5692 10.6508 13.5692 11.6542C13.5692 11.9433 13.5192 12.45 13.4142 12.8L12.8058 14.9517C12.68 15.3867 12.4525 16.3458 12.805 16.63C13.1517 16.9108 13.9725 16.7617 14.3775 16.5708L14.215 17.2367ZM13.21 8.66667C12.52 8.66667 11.96 8.10667 11.96 7.41667C11.96 6.72667 12.52 6.16667 13.21 6.16667C13.9 6.16667 14.46 6.72667 14.46 7.41667C14.46 8.10667 13.9 8.66667 13.21 8.66667Z"></path></svg>
                  </div>
                </div>
              </th>
              <th class="stickyTop" style="text-align:right">
                <div class="s8fs2i-0 pEXWP">
                  <div class="s8fs2i-1 gbtfIe">
                    <p class="sc-1eb5slv-0 hJMpdk" font-size="0" color="text">Circulating Supply</p>
                  </div>
                  <div class="sbsk6s-2 cGlIZe"></div>
                </div>
              </th>
              <th class="stickyTop" style="text-align:right">
                <p style="font-size:12px" color="text" font-size="1" class="sc-1eb5slv-0 bRswdu">Last 7 Days</p>
              </th>
              <th class="stickyTop"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td style="text-align:left">
                <p color="text2" font-size="0" class="sc-1eb5slv-0 ejtSnS">4</p>
              </td>
              <td style="text-align:left">
                <div display="flex" class="sc-16r8icm-0 escjiH">
                  <a href="/currencies/tether/" class="cmc-link">
                  <div class="sc-16r8icm-0 sc-1teo54s-0 dBKWCw">
                    <img class="coin-logo" src="https://s2.coinmarketcap.com/static/img/coins/64x64/825.png" loading="lazy" alt="USDT logo">
                    <div class="sc-16r8icm-0 sc-1teo54s-1 dNOTPP">
                      <p font-weight="semibold" color="text" font-size="1" class="sc-1eb5slv-0 hKkaxT">Tether</p>
                      <div class="sc-1teo54s-2 fZIJcI">
                        <div class="sc-1teo54s-3 iNybpU">
                          1
                        </div>
                        <p color="text3" class="sc-1eb5slv-0 nhjPq coin-item-symbol" font-size="1">USDT</p>
                      </div>
                    </div>
                  </div></a>
                </div>
              </td>
              <td>
                <div class="sc-131di3y-0 cLgOOr">
                  <a href="/currencies/tether/markets/" class="cmc-link"><span>$0.9997</span></a>
                </div>
              </td>
              <td style="text-align:right"><span class="sc-15yy2pl-0 hzgCfk">0.11 <!-- -->%</span></td>
              <td style="text-align:right"><span class="sc-15yy2pl-0 hzgCfk">0.05 <!-- -->%</span></td>
              <td style="text-align:right">
                <p color="text" style="white-space:nowrap" font-size="1" class="sc-1eb5slv-0 bRswdu"><span class="sc-1ow4cwt-0 iosgXe">$78.32B</span><span class="sc-1ow4cwt-1 ieFnWP">$78,319,231,584</span></p>
              </td>
              <td style="text-align:right">
                <div class="sc-16r8icm-0 j3nwcd-0 cRcnjD">
                  <a href="/currencies/tether/markets/" class="cmc-link">
                  <p font-size="1" class="sc-1eb5slv-0 bRswdu font_weight_500" color="text">$58,852,773,293</p></a>
                  <p color="text2" font-size="0" class="sc-1eb5slv-0 ejtSnS">58,872,048,609 USDT</p>
                </div>
              </td>
              <td style="text-align:right">
                <div style="cursor:" class="sc-16r8icm-0 g5oqcc-0 drLITg">
                  <div class="sc-16r8icm-0 g5oqcc-1 eGQXzN">
                    <p font-size="1" font-weight="medium" color="text" class="sc-1eb5slv-0 cTtqsY">78,344,882,507 USDT</p>
                  </div>
                </div>
              </td>
              <td style="text-align:right">
                <a href="/currencies/tether/?period=7d" class="cmc-link"><img src="https://s3.coinmarketcap.com/generated/sparklines/web/7d/2781/825.svg" alt="tether-7d-price-graph" class="h7vnx2-0 bCltOL" loading="lazy"></a>
              </td>
              <td>
                <div class="sc-16r8icm-0 kjciSH"></div>
              </td>
            </tr>
            <tr>
              <td></td>
              <td style="text-align:left">
                <p color="text2" font-size="0" class="sc-1eb5slv-0 ejtSnS">7</p>
              </td>
              <td style="text-align:left">
                <div display="flex" class="sc-16r8icm-0 escjiH">
                  <a href="/currencies/usd-coin/" class="cmc-link">
                  <div class="sc-16r8icm-0 sc-1teo54s-0 dBKWCw">
                    <img class="coin-logo" src="https://s2.coinmarketcap.com/static/img/coins/64x64/3408.png" loading="lazy" alt="USDC logo">
                    <div class="sc-16r8icm-0 sc-1teo54s-1 dNOTPP">
                      <p font-weight="semibold" color="text" font-size="1" class="sc-1eb5slv-0 hKkaxT">USD Coin</p>
                      <div class="sc-1teo54s-2 fZIJcI">
                        <div class="sc-1teo54s-3 iNybpU">
                          2
                        </div>
                        <p color="text3" class="sc-1eb5slv-0 nhjPq coin-item-symbol" font-size="1">USDC</p>
                      </div>
                    </div>
                  </div></a>
                </div>
              </td>
              <td>
                <div class="sc-131di3y-0 cLgOOr">
                  <a href="/currencies/usd-coin/markets/" class="cmc-link"><span>$0.9999</span></a>
                </div>
              </td>
              <td style="text-align:right"><span class="sc-15yy2pl-0 hzgCfk">0.14 <!-- -->%</span></td>
              <td style="text-align:right"><span class="sc-15yy2pl-0 hzgCfk">0.04 <!-- -->%</span></td>
              <td style="text-align:right">
                <p color="text" style="white-space:nowrap" font-size="1" class="sc-1eb5slv-0 bRswdu"><span class="sc-1ow4cwt-0 iosgXe">$42.28B</span><span class="sc-1ow4cwt-1 ieFnWP">$42,284,181,824</span></p>
              </td>
              <td style="text-align:right">
                <div class="sc-16r8icm-0 j3nwcd-0 cRcnjD">
                  <a href="/currencies/usd-coin/markets/" class="cmc-link">
                  <p font-size="1" class="sc-1eb5slv-0 bRswdu font_weight_500" color="text">$3,381,667,100</p></a>
                  <p color="text2" font-size="0" class="sc-1eb5slv-0 ejtSnS">3,382,154,706 USDC</p>
                </div>
              </td>
              <td style="text-align:right">
                <div style="cursor:" class="sc-16r8icm-0 g5oqcc-0 drLITg">
                  <div class="sc-16r8icm-0 g5oqcc-1 eGQXzN">
                    <p font-size="1" font-weight="medium" color="text" class="sc-1eb5slv-0 cTtqsY">42,290,278,827 USDC</p>
                  </div>
                </div>
              </td>
              <td style="text-align:right">
                <a href="/currencies/usd-coin/?period=7d" class="cmc-link"><img src="https://s3.coinmarketcap.com/generated/sparklines/web/7d/2781/3408.svg" alt="usd-coin-7d-price-graph" class="h7vnx2-0 bCltOL" loading="lazy"></a>
              </td>
              <td>
                <div class="sc-16r8icm-0 kjciSH"></div>
              </td>
            </tr>
            <tr>
              <td></td>
              <td style="text-align:left">
                <p color="text2" font-size="0" class="sc-1eb5slv-0 ejtSnS">15</p>
              </td>
              <td style="text-align:left">
                <div display="flex" class="sc-16r8icm-0 escjiH">
                  <a href="/currencies/binance-usd/" class="cmc-link">
                  <div class="sc-16r8icm-0 sc-1teo54s-0 dBKWCw">
                    <img class="coin-logo" src="https://s2.coinmarketcap.com/static/img/coins/64x64/4687.png" loading="lazy" alt="BUSD logo">
                    <div class="sc-16r8icm-0 sc-1teo54s-1 dNOTPP">
                      <p font-weight="semibold" color="text" font-size="1" class="sc-1eb5slv-0 hKkaxT">Binance USD</p>
                      <div class="sc-1teo54s-2 fZIJcI">
                        <div class="sc-1teo54s-3 iNybpU">
                          3
                        </div>
                        <p color="text3" class="sc-1eb5slv-0 nhjPq coin-item-symbol" font-size="1">BUSD</p>
                      </div>
                    </div>
                  </div></a>
                </div>
              </td>
              <td>
                <div class="sc-131di3y-0 cLgOOr">
                  <a href="/currencies/binance-usd/markets/" class="cmc-link"><span>$0.9999</span></a>
                </div>
              </td>
              <td style="text-align:right"><span class="sc-15yy2pl-0 hzgCfk">0.09 <!-- -->%</span></td>
              <td style="text-align:right"><span class="sc-15yy2pl-0 hzgCfk">0.02 <!-- -->%</span></td>
              <td style="text-align:right">
                <p color="text" style="white-space:nowrap" font-size="1" class="sc-1eb5slv-0 bRswdu"><span class="sc-1ow4cwt-0 iosgXe">$14.63B</span><span class="sc-1ow4cwt-1 ieFnWP">$14,631,217,618</span></p>
              </td>
              <td style="text-align:right">
                <div class="sc-16r8icm-0 j3nwcd-0 cRcnjD">
                  <a href="/currencies/binance-usd/markets/" class="cmc-link">
                  <p font-size="1" class="sc-1eb5slv-0 bRswdu font_weight_500" color="text">$3,891,060,750</p></a>
                  <p color="text2" font-size="0" class="sc-1eb5slv-0 ejtSnS">3,891,587,111 BUSD</p>
                </div>
              </td>
              <td style="text-align:right">
                <div style="cursor:" class="sc-16r8icm-0 g5oqcc-0 drLITg">
                  <div class="sc-16r8icm-0 g5oqcc-1 eGQXzN">
                    <p font-size="1" font-weight="medium" color="text" class="sc-1eb5slv-0 cTtqsY">14,633,196,848 BUSD</p>
                  </div>
                </div>
              </td>
              <td style="text-align:right">
                <a href="/currencies/binance-usd/?period=7d" class="cmc-link"><img src="https://s3.coinmarketcap.com/generated/sparklines/web/7d/2781/4687.svg" alt="binance-usd-7d-price-graph" class="h7vnx2-0 bCltOL" loading="lazy"></a>
              </td>
              <td>
                <div class="sc-16r8icm-0 kjciSH"></div>
              </td>
            </tr>
            <tr>
              <td></td>
              <td style="text-align:left">
                <p color="text2" font-size="0" class="sc-1eb5slv-0 ejtSnS">21</p>
              </td>
              <td style="text-align:left">
                <div display="flex" class="sc-16r8icm-0 escjiH">
                  <a href="/currencies/terrausd/" class="cmc-link">
                  <div class="sc-16r8icm-0 sc-1teo54s-0 dBKWCw">
                    <img class="coin-logo" src="https://s2.coinmarketcap.com/static/img/coins/64x64/7129.png" loading="lazy" alt="UST logo">
                    <div class="sc-16r8icm-0 sc-1teo54s-1 dNOTPP">
                      <p font-weight="semibold" color="text" font-size="1" class="sc-1eb5slv-0 hKkaxT">TerraUSD</p>
                      <div class="sc-1teo54s-2 fZIJcI">
                        <div class="sc-1teo54s-3 iNybpU">
                          4
                        </div>
                        <p color="text3" class="sc-1eb5slv-0 nhjPq coin-item-symbol" font-size="1">UST</p>
                      </div>
                    </div>
                  </div></a>
                </div>
              </td>
              <td>
                <div class="sc-131di3y-0 cLgOOr">
                  <a href="/currencies/terrausd/markets/" class="cmc-link"><span>$1.00</span></a>
                </div>
              </td>
              <td style="text-align:right"><span class="sc-15yy2pl-0 hzgCfk">0.07 <!-- -->%</span></td>
              <td style="text-align:right"><span class="sc-15yy2pl-0 hzgCfk">0.08 <!-- -->%</span></td>
              <td style="text-align:right">
                <p color="text" style="white-space:nowrap" font-size="1" class="sc-1eb5slv-0 bRswdu"><span class="sc-1ow4cwt-0 iosgXe">$10.10B</span><span class="sc-1ow4cwt-1 ieFnWP">$10,095,935,768</span></p>
              </td>
              <td style="text-align:right">
                <div class="sc-16r8icm-0 j3nwcd-0 cRcnjD">
                  <a href="/currencies/terrausd/markets/" class="cmc-link">
                  <p font-size="1" class="sc-1eb5slv-0 bRswdu font_weight_500" color="text">$133,843,895</p></a>
                  <p color="text2" font-size="0" class="sc-1eb5slv-0 ejtSnS">133,755,100 UST</p>
                </div>
              </td>
              <td style="text-align:right">
                <div style="cursor:" class="sc-16r8icm-0 g5oqcc-0 drLITg">
                  <div class="sc-16r8icm-0 g5oqcc-1 eGQXzN">
                    <p font-size="1" font-weight="medium" color="text" class="sc-1eb5slv-0 cTtqsY">10,089,237,839 UST</p>
                  </div>
                </div>
              </td>
              <td style="text-align:right">
                <a href="/currencies/terrausd/?period=7d" class="cmc-link"><img src="https://s3.coinmarketcap.com/generated/sparklines/web/7d/2781/7129.svg" alt="terrausd-7d-price-graph" class="h7vnx2-0 bCltOL" loading="lazy"></a>
              </td>
              <td>
                <div class="sc-16r8icm-0 kjciSH"></div>
              </td>
            </tr>
            <tr>
              <td></td>
              <td style="text-align:left">
                <p color="text2" font-size="0" class="sc-1eb5slv-0 ejtSnS">23</p>
              </td>
              <td style="text-align:left">
                <div display="flex" class="sc-16r8icm-0 escjiH">
                  <a href="/currencies/multi-collateral-dai/" class="cmc-link">
                  <div class="sc-16r8icm-0 sc-1teo54s-0 dBKWCw">
                    <img class="coin-logo" src="https://s2.coinmarketcap.com/static/img/coins/64x64/4943.png" loading="lazy" alt="DAI logo">
                    <div class="sc-16r8icm-0 sc-1teo54s-1 dNOTPP">
                      <p font-weight="semibold" color="text" font-size="1" class="sc-1eb5slv-0 hKkaxT">Dai</p>
                      <div class="sc-1teo54s-2 fZIJcI">
                        <div class="sc-1teo54s-3 iNybpU">
                          5
                        </div>
                        <p color="text3" class="sc-1eb5slv-0 nhjPq coin-item-symbol" font-size="1">DAI</p>
                      </div>
                    </div>
                  </div></a>
                </div>
              </td>
              <td>
                <div class="sc-131di3y-0 cLgOOr">
                  <a href="/currencies/multi-collateral-dai/markets/" class="cmc-link"><span>$0.9997</span></a>
                </div>
              </td>
              <td style="text-align:right"><span class="sc-15yy2pl-0 kAXKAX">0.23 <!-- -->%</span></td>
              <td style="text-align:right"><span class="sc-15yy2pl-0 hzgCfk">0.12 <!-- -->%</span></td>
              <td style="text-align:right">
                <p color="text" style="white-space:nowrap" font-size="1" class="sc-1eb5slv-0 bRswdu"><span class="sc-1ow4cwt-0 iosgXe">$9.24B</span><span class="sc-1ow4cwt-1 ieFnWP">$9,241,586,616</span></p>
              </td>
              <td style="text-align:right">
                <div class="sc-16r8icm-0 j3nwcd-0 cRcnjD">
                  <a href="/currencies/multi-collateral-dai/markets/" class="cmc-link">
                  <p font-size="1" class="sc-1eb5slv-0 bRswdu font_weight_500" color="text">$344,281,171</p></a>
                  <p color="text2" font-size="0" class="sc-1eb5slv-0 ejtSnS">344,382,256 DAI</p>
                </div>
              </td>
              <td style="text-align:right">
                <div style="cursor:" class="sc-16r8icm-0 g5oqcc-0 drLITg">
                  <div class="sc-16r8icm-0 g5oqcc-1 eGQXzN">
                    <p font-size="1" font-weight="medium" color="text" class="sc-1eb5slv-0 cTtqsY">9,244,300,049 DAI</p>
                  </div>
                </div>
              </td>
              <td style="text-align:right">
                <a href="/currencies/multi-collateral-dai/?period=7d" class="cmc-link"><img src="https://s3.coinmarketcap.com/generated/sparklines/web/7d/2781/4943.svg" alt="multi-collateral-dai-7d-price-graph" class="h7vnx2-0 bCltOL" loading="lazy"></a>
              </td>
              <td>
                <div class="sc-16r8icm-0 kjciSH"></div>
              </td>
            </tr>
            <tr>
              <td></td>
              <td style="text-align:left">
                <p color="text2" font-size="0" class="sc-1eb5slv-0 ejtSnS">81</p>
              </td>
              <td style="text-align:left">
                <div display="flex" class="sc-16r8icm-0 escjiH">
                  <a href="/currencies/trueusd/" class="cmc-link">
                  <div class="sc-16r8icm-0 sc-1teo54s-0 dBKWCw">
                    <img class="coin-logo" src="https://s2.coinmarketcap.com/static/img/coins/64x64/2563.png" loading="lazy" alt="TUSD logo">
                    <div class="sc-16r8icm-0 sc-1teo54s-1 dNOTPP">
                      <p font-weight="semibold" color="text" font-size="1" class="sc-1eb5slv-0 hKkaxT">TrueUSD</p>
                      <div class="sc-1teo54s-2 fZIJcI">
                        <div class="sc-1teo54s-3 iNybpU">
                          6
                        </div>
                        <p color="text3" class="sc-1eb5slv-0 nhjPq coin-item-symbol" font-size="1">TUSD</p>
                      </div>
                    </div>
                  </div></a>
                </div>
              </td>
              <td>
                <div class="sc-131di3y-0 cLgOOr">
                  <a href="/currencies/trueusd/markets/" class="cmc-link"><span>$0.9999</span></a>
                </div>
              </td>
              <td style="text-align:right"><span class="sc-15yy2pl-0 hzgCfk">0.10 <!-- -->%</span></td>
              <td style="text-align:right"><span class="sc-15yy2pl-0 hzgCfk">0.03 <!-- -->%</span></td>
              <td style="text-align:right">
                <p color="text" style="white-space:nowrap" font-size="1" class="sc-1eb5slv-0 bRswdu"><span class="sc-1ow4cwt-0 iosgXe">$1.30B</span><span class="sc-1ow4cwt-1 ieFnWP">$1,296,222,298</span></p>
              </td>
              <td style="text-align:right">
                <div class="sc-16r8icm-0 j3nwcd-0 cRcnjD">
                  <a href="/currencies/trueusd/markets/" class="cmc-link">
                  <p font-size="1" class="sc-1eb5slv-0 bRswdu font_weight_500" color="text">$116,930,995</p></a>
                  <p color="text2" font-size="0" class="sc-1eb5slv-0 ejtSnS">116,938,461 TUSD</p>
                </div>
              </td>
              <td style="text-align:right">
                <div style="cursor:" class="sc-16r8icm-0 g5oqcc-0 drLITg">
                  <div class="sc-16r8icm-0 g5oqcc-1 eGQXzN">
                    <p font-size="1" font-weight="medium" color="text" class="sc-1eb5slv-0 cTtqsY">1,296,305,064 TUSD</p>
                  </div>
                </div>
              </td>
              <td style="text-align:right">
                <a href="/currencies/trueusd/?period=7d" class="cmc-link"><img src="https://s3.coinmarketcap.com/generated/sparklines/web/7d/2781/2563.svg" alt="trueusd-7d-price-graph" class="h7vnx2-0 bCltOL" loading="lazy"></a>
              </td>
              <td>
                <div class="sc-16r8icm-0 kjciSH"></div>
              </td>
            </tr>
            <tr>
              <td></td>
              <td style="text-align:left">
                <p color="text2" font-size="0" class="sc-1eb5slv-0 ejtSnS">98</p>
              </td>
              <td style="text-align:left">
                <div display="flex" class="sc-16r8icm-0 escjiH">
                  <a href="/currencies/paxos-standard/" class="cmc-link">
                  <div class="sc-16r8icm-0 sc-1teo54s-0 dBKWCw">
                    <img class="coin-logo" src="https://s2.coinmarketcap.com/static/img/coins/64x64/3330.png" loading="lazy" alt="USDP logo">
                    <div class="sc-16r8icm-0 sc-1teo54s-1 dNOTPP">
                      <p font-weight="semibold" color="text" font-size="1" class="sc-1eb5slv-0 hKkaxT">Pax Dollar</p>
                      <div class="sc-1teo54s-2 fZIJcI">
                        <div class="sc-1teo54s-3 iNybpU">
                          7
                        </div>
                        <p color="text3" class="sc-1eb5slv-0 nhjPq coin-item-symbol" font-size="1">USDP</p>
                      </div>
                    </div>
                  </div></a>
                </div>
              </td>
              <td>
                <div class="sc-131di3y-0 cLgOOr">
                  <a href="/currencies/paxos-standard/markets/" class="cmc-link"><span>$1.00</span></a>
                </div>
              </td>
              <td style="text-align:right"><span class="sc-15yy2pl-0 hzgCfk">0.10 <!-- -->%</span></td>
              <td style="text-align:right"><span class="sc-15yy2pl-0 kAXKAX">0.01 <!-- -->%</span></td>
              <td style="text-align:right">
                <p color="text" style="white-space:nowrap" font-size="1" class="sc-1eb5slv-0 bRswdu"><span class="sc-1ow4cwt-0 iosgXe">$945.74M</span><span class="sc-1ow4cwt-1 ieFnWP">$945,742,569</span></p>
              </td>
              <td style="text-align:right">
                <div class="sc-16r8icm-0 j3nwcd-0 cRcnjD">
                  <a href="/currencies/paxos-standard/markets/" class="cmc-link">
                  <p font-size="1" class="sc-1eb5slv-0 bRswdu font_weight_500" color="text">$8,686,138</p></a>
                  <p color="text2" font-size="0" class="sc-1eb5slv-0 ejtSnS">8,685,223 USDP</p>
                </div>
              </td>
              <td style="text-align:right">
                <div style="cursor:" class="sc-16r8icm-0 g5oqcc-0 drLITg">
                  <div class="sc-16r8icm-0 g5oqcc-1 eGQXzN">
                    <p font-size="1" font-weight="medium" color="text" class="sc-1eb5slv-0 cTtqsY">945,642,940 USDP</p>
                  </div>
                </div>
              </td>
              <td style="text-align:right">
                <a href="/currencies/paxos-standard/?period=7d" class="cmc-link"><img src="https://s3.coinmarketcap.com/generated/sparklines/web/7d/2781/3330.svg" alt="paxos-standard-7d-price-graph" class="h7vnx2-0 bCltOL isUp" loading="lazy"></a>
              </td>
              <td>
                <div class="sc-16r8icm-0 kjciSH"></div>
              </td>
            </tr>
            <tr>
              <td></td>
              <td style="text-align:left">
                <p color="text2" font-size="0" class="sc-1eb5slv-0 ejtSnS">135</p>
              </td>
              <td style="text-align:left">
                <div display="flex" class="sc-16r8icm-0 escjiH">
                  <a href="/currencies/neutrino-usd/" class="cmc-link">
                  <div class="sc-16r8icm-0 sc-1teo54s-0 dBKWCw">
                    <img class="coin-logo" src="https://s2.coinmarketcap.com/static/img/coins/64x64/5068.png" loading="lazy" alt="USDN logo">
                    <div class="sc-16r8icm-0 sc-1teo54s-1 dNOTPP">
                      <p font-weight="semibold" color="text" font-size="1" class="sc-1eb5slv-0 hKkaxT">Neutrino USD</p>
                      <div class="sc-1teo54s-2 fZIJcI">
                        <div class="sc-1teo54s-3 iNybpU">
                          8
                        </div>
                        <p color="text3" class="sc-1eb5slv-0 nhjPq coin-item-symbol" font-size="1">USDN</p>
                      </div>
                    </div>
                  </div></a>
                </div>
              </td>
              <td>
                <div class="sc-131di3y-0 cLgOOr">
                  <a href="/currencies/neutrino-usd/markets/" class="cmc-link"><span>$0.991</span></a>
                </div>
              </td>
              <td style="text-align:right"><span class="sc-15yy2pl-0 hzgCfk">0.07 <!-- -->%</span></td>
              <td style="text-align:right"><span class="sc-15yy2pl-0 hzgCfk">0.60 <!-- -->%</span></td>
              <td style="text-align:right">
                <p color="text" style="white-space:nowrap" font-size="1" class="sc-1eb5slv-0 bRswdu"><span class="sc-1ow4cwt-0 iosgXe">$535.44M</span><span class="sc-1ow4cwt-1 ieFnWP">$535,441,302</span></p>
              </td>
              <td style="text-align:right">
                <div class="sc-16r8icm-0 j3nwcd-0 cRcnjD">
                  <a href="/currencies/neutrino-usd/markets/" class="cmc-link">
                  <p font-size="1" class="sc-1eb5slv-0 bRswdu font_weight_500" color="text">$11,194,829</p></a>
                  <p color="text2" font-size="0" class="sc-1eb5slv-0 ejtSnS">11,296,967 USDN</p>
                </div>
              </td>
              <td style="text-align:right">
                <div style="cursor:" class="sc-16r8icm-0 g5oqcc-0 drLITg">
                  <div class="sc-16r8icm-0 g5oqcc-1 eGQXzN">
                    <p font-size="1" font-weight="medium" color="text" class="sc-1eb5slv-0 cTtqsY">540,326,510 USDN</p>
                  </div>
                </div>
              </td>
              <td style="text-align:right">
                <a href="/currencies/neutrino-usd/?period=7d" class="cmc-link"><img src="https://s3.coinmarketcap.com/generated/sparklines/web/7d/2781/5068.svg" alt="neutrino-usd-7d-price-graph" class="h7vnx2-0 bCltOL" loading="lazy"></a>
              </td>
              <td>
                <div class="sc-16r8icm-0 kjciSH"></div>
              </td>
            </tr>
            <tr>
              <td></td>
              <td style="text-align:left">
                <p color="text2" font-size="0" class="sc-1eb5slv-0 ejtSnS">154</p>
              </td>
              <td style="text-align:left">
                <div display="flex" class="sc-16r8icm-0 escjiH">
                  <a href="/currencies/fei-usd/" class="cmc-link">
                  <div class="sc-16r8icm-0 sc-1teo54s-0 dBKWCw">
                    <img class="coin-logo" src="https://s2.coinmarketcap.com/static/img/coins/64x64/8642.png" loading="lazy" alt="FEI logo">
                    <div class="sc-16r8icm-0 sc-1teo54s-1 dNOTPP">
                      <p font-weight="semibold" color="text" font-size="1" class="sc-1eb5slv-0 hKkaxT">Fei USD</p>
                      <div class="sc-1teo54s-2 fZIJcI">
                        <div class="sc-1teo54s-3 iNybpU">
                          9
                        </div>
                        <p color="text3" class="sc-1eb5slv-0 nhjPq coin-item-symbol" font-size="1">FEI</p>
                      </div>
                    </div>
                  </div></a>
                </div>
              </td>
              <td>
                <div class="sc-131di3y-0 cLgOOr">
                  <a href="/currencies/fei-usd/markets/" class="cmc-link"><span>$0.9956</span></a>
                </div>
              </td>
              <td style="text-align:right"><span class="sc-15yy2pl-0 hzgCfk">0.15 <!-- -->%</span></td>
              <td style="text-align:right"><span class="sc-15yy2pl-0 hzgCfk">0.27 <!-- -->%</span></td>
              <td style="text-align:right">
                <p color="text" style="white-space:nowrap" font-size="1" class="sc-1eb5slv-0 bRswdu"><span class="sc-1ow4cwt-0 iosgXe">$423.15M</span><span class="sc-1ow4cwt-1 ieFnWP">$423,146,621</span></p>
              </td>
              <td style="text-align:right">
                <div class="sc-16r8icm-0 j3nwcd-0 cRcnjD">
                  <a href="/currencies/fei-usd/markets/" class="cmc-link">
                  <p font-size="1" class="sc-1eb5slv-0 bRswdu font_weight_500" color="text">$46,378,489</p></a>
                  <p color="text2" font-size="0" class="sc-1eb5slv-0 ejtSnS">46,581,208 FEI</p>
                </div>
              </td>
              <td style="text-align:right">
                <div style="cursor:" class="sc-16r8icm-0 g5oqcc-0 drLITg">
                  <div class="sc-16r8icm-0 g5oqcc-1 eGQXzN">
                    <p font-size="1" font-weight="medium" color="text" class="sc-1eb5slv-0 cTtqsY">424,996,178 FEI</p>
                  </div>
                </div>
              </td>
              <td style="text-align:right">
                <a href="/currencies/fei-usd/?period=7d" class="cmc-link"><img src="https://s3.coinmarketcap.com/generated/sparklines/web/7d/2781/8642.svg" alt="fei-usd-7d-price-graph" class="h7vnx2-0 bCltOL" loading="lazy"></a>
              </td>
              <td>
                <div class="sc-16r8icm-0 kjciSH"></div>
              </td>
            </tr>
            <tr>
              <td></td>
              <td style="text-align:left">
                <p color="text2" font-size="0" class="sc-1eb5slv-0 ejtSnS">157</p>
              </td>
              <td style="text-align:left">
                <div display="flex" class="sc-16r8icm-0 escjiH">
                  <a href="/currencies/reserve-rights/" class="cmc-link">
                  <div class="sc-16r8icm-0 sc-1teo54s-0 dBKWCw">
                    <img class="coin-logo" src="https://s2.coinmarketcap.com/static/img/coins/64x64/3964.png" loading="lazy" alt="RSR logo">
                    <div class="sc-16r8icm-0 sc-1teo54s-1 dNOTPP">
                      <p font-weight="semibold" color="text" font-size="1" class="sc-1eb5slv-0 hKkaxT">Reserve Rights</p>
                      <div class="sc-1teo54s-2 fZIJcI">
                        <div class="sc-1teo54s-3 iNybpU">
                          10
                        </div>
                        <p color="text3" class="sc-1eb5slv-0 nhjPq coin-item-symbol" font-size="1">RSR</p>
                      </div>
                    </div>
                  </div></a>
                </div>
              </td>
              <td>
                <div class="sc-131di3y-0 cLgOOr">
                  <a href="/currencies/reserve-rights/markets/" class="cmc-link"><span>$0.0305</span></a>
                </div>
              </td>
              <td style="text-align:right"><span class="sc-15yy2pl-0 kAXKAX">1.15 <!-- -->%</span></td>
              <td style="text-align:right"><span class="sc-15yy2pl-0 hzgCfk">4.05 <!-- -->%</span></td>
              <td style="text-align:right">
                <p color="text" style="white-space:nowrap" font-size="1" class="sc-1eb5slv-0 bRswdu"><span class="sc-1ow4cwt-0 iosgXe">$401.43M</span><span class="sc-1ow4cwt-1 ieFnWP">$401,426,098</span></p>
              </td>
              <td style="text-align:right">
                <div class="sc-16r8icm-0 j3nwcd-0 cRcnjD">
                  <a href="/currencies/reserve-rights/markets/" class="cmc-link">
                  <p font-size="1" class="sc-1eb5slv-0 bRswdu font_weight_500" color="text">$33,721,612</p></a>
                  <p color="text2" font-size="0" class="sc-1eb5slv-0 ejtSnS">1,105,499,469 RSR</p>
                </div>
              </td>
              <td style="text-align:right">
                <div style="cursor:pointer" class="sc-16r8icm-0 g5oqcc-0 drLITg">
                  <div class="sc-16r8icm-0 g5oqcc-1 eGQXzN">
                    <p font-size="1" font-weight="medium" color="text" class="sc-1eb5slv-0 cTtqsY">13,159,997,677 RSR</p>
                  </div>
                  <div width="160" class="qlsl66-0 eqcBly">
                    <div width="22" class="qlsl66-1 iWDEqx"></div>
                  </div>
                </div>
              </td>
              <td style="text-align:right">
                <a href="/currencies/reserve-rights/?period=7d" class="cmc-link"><img src="https://s3.coinmarketcap.com/generated/sparklines/web/7d/2781/3964.svg" alt="reserve-rights-7d-price-graph" class="h7vnx2-0 bCltOL" loading="lazy"></a>
              </td>
              <td>
                <div class="sc-16r8icm-0 kjciSH"></div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="bywovg-2 iIaJEG">
  <div style="text-align:right" class="sc-16r8icm-0 kjciSH">
    <div class="sc-1z13y8y-0 eRDuzF"></div>
  </div>
</div>

{% include 'footer.html' %}
</div>
</body>
</head>