  <!-- ======= Page Alignment ======= -->

  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">
    <div class="logo me-auto">
      <h1><a href="home">Crypto-ATM</a></h1>
    </div>
  </div>

  <!-- End #Page Alignment -->

  <!-- ======= NavBar ======= -->
  <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-25564f">
    
    <a class="navbar-brand" href="home">Crypto-ATM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="home">Home</a>
        <a class="nav-item nav-link" href="coins">Stable-Coins</a>
        <a class="nav-item nav-link" href="#services">Services & Fees</a>
        <a class="nav-item nav-link" href="#contact">Support</a>
        <a class="nav-item nav-link" href="#"></a>
        <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true" style = "color:rgba(4, 243, 16, 0.685);">Status:<span class="sr-only" style = "color:red;">Offline</span></a>
      </div>
    </div>
    <i class="bi bi-list mobile-nav-toggle"></i>
  </nav>

    <!-- End NavBar -->


    